@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
    text-decoration: none;
    list-style: none;
    border: none;
    outline: none;
    font-family: 'Raleway', sans-serif;
}

.header{
    background: #10B582;
}

.container{
    width: 1170px;
    padding: 0 50px;
    margin: 0 auto;
}

.header__top{
    width: 100%;
    text-align: center;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 40px 0 64px 0;
}

.menu li a{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    color: #fdfdfd;
    transition: 0.1s;
}

.menu li a:hover{
    border-bottom: 2px dashed #FA9F42;
}

.header__content{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 44px;
    position: relative;
    padding-bottom: 120px;
    justify-content: center;
}

.header__content-left{
    display: flex;
    flex-direction: column-reverse;
    gap: 104px;
}

.header__content-left-image{
    border-radius: 0 80px 0 0;
    width: 240px;
}

.header__content-left-image:after{
    /*content: "";*/
    /*position: absolute;*/
    /*width: 240px;*/
    /*height: 300px;*/
    /*z-index: -1;*/
    /*border: 1px dashed #FDFDFD;*/
    /*border-radius: 0 80px 0 0;*/
}

.header__content-social-icons{
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-align: left;
}

.header__content-social-icons span{
    cursor: pointer;
}

.header__content-center{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 170px;
    cursor: pointer;
    margin-bottom: 40px;
}

.header__content-title{
    font-weight: 500;
    font-size: 58px;
    line-height: 70px;
    color: #fdfdfd;
    margin-bottom: 20px;
    text-align: center;
}

.header__content-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fdfdfd;
    text-align: center;
    margin-bottom: 50px;
}

.header__content-btn{
    background: #FA9F42;
    border-radius: 0 20px;
    padding: 20px 47px;font-weight: 500;
    font-size: 16px;
    color: #fdfdfd;
}

.header__content-right{
    display: flex;
    flex-direction: column;
    gap: 100px;
    position: relative;
}

.header__content-right-image{
    border-radius: 80px 0 0 0;
}

.header__content-right-image:after{
    /*content: "";*/
    /*position: absolute;*/
    /*width: 240px;*/
    /*height: 300px;*/
    /*border: 1px dashed #FDFDFD;*/
    /*border-radius: 80px 0 0 0;*/
}

.header__content-scroll-down{
    transform: rotate(-90deg);
    color: #fdfdfd;
    position: fixed;
    right: 80px;
    bottom: 100px;
    z-index: 111;
    cursor: pointer;
}

.header__content-scroll-down svg{
    transform: rotate(-270deg);
    margin-right: 15px;
}

/*first__section*/

.first__section{
    background: #fdfdfd;
}

.numbers{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 121px 0 169px 0;
}

.numbers__item{
    text-align: center;
}

.number__item-title{
    font-weight: 500;
    font-size: 58px;
    color: #10B582;
    margin-bottom: 15px;
}

.number__item-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #353A5A;
}

.teachers{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
    gap: 100px;
}

.teachers__info{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: flex-start;
}

.teachers__info-title{
    font-weight: 500;
    font-size: 58px;
    color: #353A5A;
    margin-bottom: 20px;
}

.teachers__info-description{
    font-weight: 400;
    font-size: 16px;
    color: #353A5A;
    line-height: 27px;
    margin-bottom: 50px;
}

.teachers__info-btn{
    background: #10B582;
    border-radius: 0 20px;
    font-weight: 500;
    font-size: 16px;
    color: #fdfdfd;
    padding: 20px 38px;
}

.teachers__photo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.teachers__photo-cards{
    text-align: center;
}

.teachers__photo-image{
    margin-bottom: 15px;
}

.teachers__photo-description{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #353A5A;
}

/*second__section*/

.second__section{
    background: #10B582;
}

.format{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 100px;
    padding: 120px 0;
}

.format__image{
    width: 50%;
    position: relative;
}

.format__image-pic{
    border-radius: 0 120px 0 0;
}

.format__image-pic:after{
    /*content: "";*/
    /*position: absolute;*/
    /*width: 470px;*/
    /*height: 332px;*/
    /*border: 1px dashed #FDFDFD;*/
    /*border-radius: 0 120px 0 0;*/
}

.format__info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
}

.format__info-title{
    font-weight: 500;
    font-size: 58px;
    color: #fdfdfd;
    line-height: 70px;
    margin-bottom: 20px;
}

.format__info-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #fdfdfd;
    margin-bottom: 50px;
}

.format__info-btn{
    font-weight: 500;
    font-size: 16px;
    color: #FDFDFD;
    padding: 20px 74px;
    background: #FA9F42;
    border-radius: 0 20px;
}

/*third__section*/

.courses{
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    padding: 120px 0;
    align-items: center;
    justify-content: center;
}

.courses__title{
    font-weight: 500;
    font-size: 58px;
    color: #353A5A;
}

.courses__card{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.courses__card-item{
    padding: 20px;
    background: #FDFDFD;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);
    border-radius: 10px;
}

.courses__images{
    width: 230px;
    margin-bottom: 15px;
}

.courses__description{
    font-weight: 500;
    font-size: 16px;
    color: #353A5A;
}

.courses__btn{
    background: #10B582;
    border-radius: 0 20px;
    padding: 20px 74px;
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #FDFDFD;
}

/*fourth__section*/

.fourth__section{
    position: relative;
}

.banner__image {
    position: absolute;
    width: 1440px;
    height: 578px;
    left: 0;
    z-index: -1;
}


.banner{
    width: 100%;
    padding: 120px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 120px;
}

.banner__title{
    font-weight: 500;
    font-size: 58px;
    color: #353A5A;
    margin-bottom: 20px;
}

.banner__description{
    font-weight: 400;
    font-size: 16px;
    color: #353A5A;
    line-height: 24px;
    margin-bottom: 50px;
    margin-right: 30px;
}

.banner__btn{
    font-weight: 500;
    font-size: 16px;
    color: #fdfdfd;
    padding: 20px 50px;
    background: #FA9F42;
    border-radius: 0 20px;
    margin-right: 290px;
}

/*footer*/

.main__footer{
    display: flex;
    width: 100%;
}

.logotype{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 100px;
}

.logotype p{
    margin: 27px 0 47px 0;
    text-align: justify;
}

.footer__social-icons{
    display: flex;
    align-items: center;
    gap: 25px;
    cursor: pointer;
}

.footer__title{
    font-weight: 500;
    font-size: 16px;
    color: #353A5A;
    margin-bottom: 30px;
    cursor: pointer;
}

.footer__description{
    font-weight: 400;
    font-size: 16px;
    color: #353A5A;
    margin-bottom: 20px;
    cursor: pointer;
}

.learning{
    margin-right: 110px;
}

.about{
    margin-right: 80px;
}

.contacts{
    margin-right: 68px;
}

.footer__bottom{
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-left{
    font-weight: 400;
    font-size: 14px;
    color: #353A5A;
    cursor: pointer;
}

.footer__bottom-right{
    font-weight: 400;
    font-size: 14px;
    color: #353A5A;
    cursor: pointer;
}